STE_USERNAME=
STE_PASSWORD=
OICT_USERNAME=
OICT_PASSWORD=

WMS_USERNAME=
WMS_PASSWORD=
WMS_LOGIN_URL=
WMS_INBOUND_URL=
WMS_OUTBOUND_URL=

# Path to local service-account JSON file (do not commit this file)
WMS_GDRIVE_SERVICE_ACCOUNT_FILE=secrets/gdrive-sa.json
# Existing Google Drive file ID to update
WMS_GDRIVE_FILE_ID=
